@font-face {
  font-family: 'Finsweet';
  src: url('https://assets.website-files.com/638b47f19a1618482b9e3f16/638b93568563256a62e63d25_Graphik-Regular.otf')
    format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Finsweet';
  src: url('https://assets.website-files.com/638b47f19a1618482b9e3f16/638b9356346ec7352480652f_GraphikMedium.otf')
    format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  /* global Finsweet colors */
  /* REF: https://www.figma.com/file/5rax17L4L3EKPmEYq2dbdg/Finsweet-Docs?node-id=38%3A155&t=fzMbXB0dkq0GKU6w-0 */
  --dark-text: #111111;
  --light-text: #ffffff;
  --black: #000000;
  --dark-bg: #1e1e1e;
  --light-bg: #ffffff;
  --white-smoke: #f1f1f1;
  --slate-blue: #434876;
  --fs-bluetiful: #2d40ea;
  --fs-yellow: #f2ff37;
  --cultured-gray: #f5f5f5;
  --spring-bud: #e5e7c5;
  --gainsboro: #dcdcdc;
  --jet: #363636;
  --battleship-grey: #858585;
  --pantone: #4e4e4e;
  --dark-liver: #505050;
  --onyx: #373737;

  /* light mode */
  --light-scrollbar-color: var(--gainsboro);
  --light-scrollbar-bg: var(--white-smoke);
  --light-codeblock-bg: var(--black);
  --light-link-text: var(--fs-bluetiful);

  /* dark mode */
  --dark-scrollbar-color: var(--dark-liver);
  --dark-scrollbar-bg: var(--onyx);
  --dark-codesnippet-bg: var(--jet);
  --dark-codesnippet-text: var(--spring-bud);
  --dark-codeblock-bg: var(--black);
  --dark-link-text: var(--fs-yellow);
  --previous-post-text: var(--battleship-grey);
  --previous-post-title: var(--light-text);

  /* global Finsweet fonts */
  /* Override vitepress colors */
  --vp-c-text-code: var(--slate-blue);
  --vp-c-mute: var(--cultured-gray);
  --vp-c-text-1: var(--dark-text);
  --vp-c-bg-1: var(--light-bg);

  /* Typography */
  --vp-font-family-base: 'Finsweet', 'Roboto', 'Inter var', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  /* Code Snippet font */
  --vp-font-family-mono: 'Space Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;
  --vp-c-brand: var(--fs-bluetiful);
  --vp-sidebar-width: 350px;
}

/* 1. Typography */
.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  font-style: normal;
}

.vp-doc h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 110%;
}

.vp-doc h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  cursor: pointer;
}

.vp-doc h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.vp-doc p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

/* End of Typography */

/* 2. Dark Theme */
.dark * {
  --vp-c-text-code: var(--spring-bud);
  --vp-c-mute: var(--jet);
  --vp-c-brand: var(--fs-yellow);
  --vp-c-text-1: var(--light-text);
  --vp-c-text-2: var(--battleship-grey);
}

.dark body {
  color: var(--light-text);
  background-color: var(--dark-bg);
}

.dark .vp-doc a {
  color: var(--fs-yellow);
}

.dark .pager-link.next,
.dark .pager-link.prev {
  border: 1px solid var(--pantone);
  border-radius: 0;
}
.dark .pager-link.next:hover,
.dark .pager-link.prev:hover {
  border: 1px solid var(--fs-yellow);
  border-radius: 0;
}

.dark .pager-link.next .desc,
.dark .pager-link.prev .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--battleship-grey);
}
.dark .pager-link.next .title,
.dark .pager-link.prev .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: var(--light-text);
}

#app .outline-link.active,
#app .outline-link:hover,
#app .VPSocialLink:hover {
  color: var(--fs-bluetiful);
}
.dark #app .outline-link.active,
.dark #app .outline-link:hover,
.dark #app .VPSocialLink:hover {
  color: var(--fs-yellow);
}

/* End of Dark theme */

/* 3. Previous and Next page links */
.pager-link.next,
.pager-link.prev {
  border: 1px solid var(--dark-text);
  border-radius: 0;
}
.pager-link.next:hover,
.pager-link.prev:hover {
  border: 1px solid var(--fs-bluetiful);
  border-radius: 0;
}

.pager-link.next .desc,
.pager-link.prev .desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--dark-text);
}
.pager-link.next .title,
.pager-link.prev .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  color: var(--dark-text);
}

/* End of Previous and Next page links */

/* 4. Links */
.vp-doc a {
  color: var(--fs-bluetiful);
}

#app .action .link {
  display: inline-block;
  padding: 14px 24px;
  min-width: 143px;
  width: max-content;
  height: 50px;
  border-radius: 0;
  border: none;
  background: var(--fs-bluetiful);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--light-text);
}
.dark #app .action .link {
  background: var(--fs-yellow);
  color: var(--dark-text);
}

#app .outline-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* End of Links */

/* 5. Code Snippets */

#app .VPSidebarItem .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

#app .VPSidebarItem.collapsible,
#app .VPSidebarItem.collapsible .VPSidebarItem {
  margin-top: 10px;
}

#app .content .root {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 13px;
  flex-direction: column;
  padding-top: 13px;
}

#app header .title .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  display: grid;
  place-items: center;
  border-bottom: none;
  padding-top: 40px;
  width: var(--vp-sidebar-width);
  padding-left: 0;
}

#app .vp-doc div[class*='language-'] {
  border-radius: 0;
  border: 1px solid var(--dark-text);
}

/* End of Code Snippets */

/* 6. Sidebar */

#app .VPSidebar {
  padding-left: 64px;
}

#app #VPSidebarNav {
  box-sizing: border-box;
  padding-top: 50px;
}

#app #VPSidebarNav .group {
  width: 100%;
}

/* End of Sidebar */

/* 7. Media Queries */
@media (max-width: 960px) {
  #app .VPSidebar {
    width: 100%;
  }
  #app header .title .title {
    font-size: 1rem;
    padding-top: 0;
    align-items: center;
    justify-content: start;
  }
}
@media (min-width: 960px) {
  #app .VPSidebar {
    width: var(--vp-sidebar-width);
  }
  #app .VPContent.has-sidebar {
    padding-left: var(--vp-sidebar-width);
  }
  #app .VPNavBar.has-sidebar .title {
    width: max-content;
    padding-left: 30px;
  }
}

/* End of Media Queries */

/* 8. Scrollbar */

/* For webkit browsers */
::-webkit-scrollbar {
  width: 12px; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: var(--white-smoke);
}

::-webkit-scrollbar-thumb {
  background: var(--gainsboro);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--gainsboro) var(--white-smoke);
}

/* dark theme scrollbar */

.dark ::-webkit-scrollbar-track {
  background: var(--onyx);
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--dark-liver);
}

/* For Firefox */
.dark * {
  scrollbar-color: var(--dark-liver) var(--onyx);
}

/* End of Scrollbar */
